.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://psv4.userapi.com/c909218/u557095737/docs/d53/792ee95859d0/stars-964022_1920.png?extra=PGEV700WtfTRhywbp6Kqiv7pcWE0pbXXkhE59ynEXDH_p1xebx8CgnRjx5beRAKLDS761BjFznmvbTbiuQFa9Gkhq7jRzjFoiw4WEWJvBHPiw22dtr3PIBPcX5M_QEL8KaQCc9zamsK-QmI2Lz3WSgsCEyWn");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.container {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  background-color: #121212;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-bottom: 2rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.form {
  width: 100%;
}

.columnContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #333333;
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: left;
}

.input::placeholder {
  color: #9e9e9e;
  text-align: left;
}

.input:focus {
  border-color: #ffffff;
  outline: none;
}

.button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #333333;
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  text-align: center;
}

.button:hover {
  background-color: #2e2e2e;
  border-color: #ffffff;
}

.button:focus {
  outline: none;
  border-color: #ffffff;
}
