.projectlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #000;
  height: 100%;
}

.projectlist h1 {
  color: white;
  margin-bottom: 20px;
}
.viewProjectsButton {
  display: block;
  width: 200px;
  margin: 20px auto;
  margin-top: -1px;
  padding: 10px 20px;
  background-color: #2f342f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.viewProjectsButton:hover {
  background-color: #525852;
}
