.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.footerLogo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 50px;
  margin-right: 10px;
}

.logoText {
  font-size: 1.5em;
  font-weight: bold;
}

.footerLinks,
.footerContact,
.footerSocial {
  display: flex;
  flex-direction: column;
}

.footerTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerList li {
  margin-bottom: 5px;
}

.footerList a {
  color: #fff;
  text-decoration: none;
}

.footerList a:hover {
  text-decoration: underline;
}

.socialIcons a {
  color: #fff;
  font-size: 1.5em;
  margin-right: 10px;
}

.footerBottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  width: 100%;
  max-width: 1200px;
}

.footerAccount {
  margin-top: 40px; /* Увеличенный отступ сверху */
}

.accountButton {
  background-color: #db0565; /* Темно-розовый цвет */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.accountButton:hover {
  background-color: #e81a62; /* Темнее при наведении */
}

.paymentIcons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paymentIcons img {
  width: 50px;
  margin: 0 10px;
}
