.headerContainer {
  height: 91vh;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.headerImage {
  width: 20%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.headerText {
  position: relative;
  z-index: 1;
  margin-top: 50vh;
}

.headerTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.headerSubtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.bold {
  font-weight: 700;
}
