.productList {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 60px;
}

.productList h1 {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 700;
  margin-top: -50px;
  margin-bottom: px;
  text-align: center;
}

.searchInputContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 5px;
}

.searchInput {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border-radius: 0.8rem;
  border: 1px solid #333333;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
  height: 35px;
  line-height: 40px;
}

.searchInput::placeholder {
  color: #888;
}

.searchInput:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #9e9e9e;
  pointer-events: none;
  font-size: 1.2rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px 0;
  justify-content: center;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

:global(.pagination) {
  margin-bottom: 0;
}

:global(.page-item .page-link) {
  background-color: #333;
  border-color: #444;
  color: #fff;
}

:global(.page-item.active .page-link) {
  background-color: #007bff;
  border-color: #007bff;
}

:global(.page-link:hover) {
  background-color: #444;
  border-color: #555;
  color: #fff;
}

:global(.page-item.disabled .page-link) {
  background-color: #222;
  border-color: #333;
  color: #666;
}
