.productList {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 60px; /* Updated padding */
}

.productList h1 {
  color: #333;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Adjust card width as needed */
  gap: 20px; /* Adjust gap between cards */
  justify-content: center;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Styling for react-bootstrap Pagination */
:global(.pagination) {
  margin-bottom: 0;
}

:global(.page-item.active .page-link) {
  background-color: #007bff;
  border-color: #007bff;
}

:global(.page-link) {
  color: #007bff;
}

:global(.page-link:hover) {
  color: #0056b3;
}
